<a href="https://colab.research.google.com/github/M-I-N1985/python_para_analise_de_dados_wes_mckinney/blob/main/capitulo_6_wes_mckinney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lendo e escrevendo dados em formato-texto**
####read_csv, read_table, read_fwf, read_clipboard, read_excel, read_hdf, read_html, read_json, read_msgpack, read_pickle, read_sas, read_sql, read_stata, read_feather

##**Os argumentos opcionais dessas funções podem se enquadrar em algumas categorias:**

####Indexação,Inferência de tipos e conversão de dados, Parsing de data e hora, Iteração, Problemas com dados sujos,

In [82]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)

In [83]:
df0 = pd.read_csv('examples/ex1.csv')
df0

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [84]:
df1 = pd.read_table('examples/ex1.csv', sep = ',')
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [85]:
df2 = pd.read_csv('examples/ex2.csv', header=None)
df2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [86]:
df3 = pd.read_table('examples/ex2.csv', sep=',', names = ['a', 'b', 'c', 'd', 'message'])
df3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [87]:
names = ['a', 'b', 'c', 'd', 'message']
df4 = pd.read_csv('examples/ex2.csv', names=names, index_col='message')
df4

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [88]:
parsed0 = pd.read_csv('examples/csv_mindex.csv')
parsed0

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [89]:
parsed1 = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed1

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [90]:
list(open('examples/ex3.txt'))  # casos em que a tabela não tem um delimitador físico

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [91]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [92]:
pd.read_csv('examples/ex4.csv')

                                                                       # hey!
a                                                   b        c   d    message
# just wanted to make things more difficult for you NaN      NaN NaN      NaN
# who reads CSV files with computers                 anyway? NaN NaN      NaN
1                                                   2        3   4      hello
5                                                   6        7   8      world
9                                                   10       11  12       foo

In [93]:
pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])  # ignora as linhas

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [94]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [95]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [96]:
pd.read_csv('examples/ex5.csv', na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [97]:
sentinelas = {'message': ['foo', 'NA'], 'something':['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinelas)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [98]:
colunas = ['Argumentos', 'Descrição']
tabela2 = pd.read_excel('examples/tabela2.xlsx', names = colunas)
tabela2

,Argumentos,Descrição
0,sep ou delimiter,Sequência de caracteres ou uma expressão regular a ser usada para separ...
1,header,Número da linha a ser usada como nomes de coluna; o default é 0 (primei...
2,index_col,Números ou nomes de coluna a serem usados como índice das linhas no res...
3,names,Lista de nomes de colunas para o resultado; pode ser combinado com head...
4,skiprows,Número de linhas a serem ignoradas no início do arquivo ou lista de núm...
...,...,...
15,skip_footer,Número de linhas a serem ignoradas no final do arquivo.
16,verbose,"Exibe várias informações de saída do parser, como o número de valores a..."
17,encoding,"Codificação de texto para Unicode (por exemplo, 'utf-8' para texto codi..."
18,squeeze,"Se os dados sujeitos a parsing contiverem apenas uma coluna, devolve um..."
19,thousands,"Separador de milhar (por exemplo, ',' ou '.')."

###**Lendo arquivos-texto em partes**

In [99]:
pd.options.display.max_rows = 10  # Perceba que teremos tabelas com as 5 primeiras e 5 ultimas linhas

In [100]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [101]:
result = pd.read_csv('examples/ex6.csv', nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [102]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)  # TextParser é um objeto iterator, pelo que entendi
tot=pd.Series([], dtype=int64)
for piece in chunker:
  tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

###**Escrevendo dados em formato texto**

In [103]:
dados = pd.read_csv('examples/ex5.csv')
dados

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [104]:
dados.to_csv('examples/out.csv')

In [105]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [106]:
import sys

In [107]:
dados.to_csv(sys.stdout, sep="|")  # mudando os separadores

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [108]:
dados.to_csv(sys.stdout, na_rep='NULL')  # trocando valores nulos

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [109]:
dados.to_csv(sys.stdout, index=False, header=False)  # desativando indices e colunas

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [110]:
dados.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])  # escrevendo um subconjunto das colunas na ordem de que eu quiser

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [111]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

###**Trabalhando com formatos delimitados**